---
import { getLangFromUrl, useTranslations } from '../components/i18n/utils';
import ProjectCard from './ProjectCard.astro';
import { projects } from '../utils/projectsdata';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col gap-6 w-full sm:w-3/4">
    <h4 class="text-2xl font-bold">{t("projects.title")}:</h4>
    {projects.map((project)=>(
        <ProjectCard title={project.title} description={project.description} techs={project.techs} repoUrl={project.repoUrl} deployUrl={project.deployUrl} imgsRoute={project.imgsRoute}/>
    ))}
</div>